.env
.env.yaml
train_flow-deployment.yaml

#files json processing
temp_gait_json_files_*

#mediapipe processing examples
output/

# System files
.DS_Store
.ipynb_checkpoints

*Zone.Identifier
*.pyc
*.swp
build/
dist/
.coverage
*.iml
*.egg-info
*.vscode

# Data files
data/
raw_data/
*.csv
*.sqlite
*.zip
training_outputs/
*.sublime-project
*.sublime-workspace
**/*.code-workspace

# Other
pytestdebug.log

# RNN too large to get in github
RNN/training_checkpoints/*.weights.h5

# PyCache
__pycache__
